<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title text-capitalize>{{ titulo }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" color="warning" defaultHref = "/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
