<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
   <h1>HOLA</h1>
 <!-- <ion-button color="warning" fill="outline" routerLink ="/alert">Alert</ion-button>
 <ion-button color="warning" fill="outline" routerLink ="/actions-sheet" > Action-Sheet</ion-button>  -->
<!-- Lista automatica -->
<ion-list>
  <ion-item *ngFor = "let c of componentes" [routerLink] = "c.redirectTo" detail>
    <ion-icon [name]="c.icon" slot="start"></ion-icon>
    <ion-label>{{c.name}} </ion-label>
  </ion-item> 
<!--   
  <ion-item routerLink = "/alert" detail>
    <ion-label>Alert</ion-label>
  </ion-item>  -->
</ion-list>
 </ion-card>
</ion-content>
