<!-- <ion-header>
  <ion-toolbar>
    <ion-title>alert</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" color="warning" defaultHref = "/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="warning" fill="outline" routerLink ="/inicio">Inicio</ion-button>
</ion-content> -->

<app-header titulo="Alert page"></app-header>
<ion-content>
<h1>Hola</h1>
</ion-content>