<!-- <ion-header>
  <ion-toolbar>
    <ion-title>actions-sheet</ion-title>
    <start izquiera 
     end derecha 
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" color="warning" defaultHref = "/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-header titulo="Actions Sheet"></app-header>
<ion-content>
  <h1>hola</h1>
<ion-button color="warning" fill="outline" expand="full" (click)="presentActionSheet()">Oprime</ion-button>
</ion-content>
